---
layout: page
titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---
{%- assign _page_archive_data_source = page.data_source | default: "site.posts" -%}

{%- if _page_archive_data_source -%}
{%- assign _keys = _page_archive_data_source | split: '.' -%}
{%- endif -%}

{%- assign _articles = nil -%}
{%- for _key in _keys -%}
  {%- if forloop.first -%}
    {%- case _key -%}
      {%- when 'site' -%}
        {%- assign _articles = site -%}
      {%- when 'page' -%}
        {%- assign _articles = page -%}
      {%- when 'layout' -%}
        {%- assign _articles = layout -%}
      {%- when 'paginator' -%}
        {%- assign _articles = paginator -%}
      {%- else -%}
        {%- assign _articles = site[_key] -%}
      {%- else -%}
    {%- endcase -%}
  {%- else -%}
    {%- assign _articles = _articles[_key] -%}
  {%- endif -%}
{%- endfor -%}

<div class="layout--archive js-all">
  {%- include tags.html articles=_articles -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=_articles type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
